<div class="acount__container">
   <div class="grid acount__container-padding">
        <div class="acount__container-left">
            <div class="acount__container-left-main">
                <img src="/public/img/khang.PNG" alt="Avartar" class="acount__container-left-main-img">
                <div class="acount__container-left-main-right">
                    <p class="acount__container-left-main-nameAcount">khangdovan</p>
                    <p class="acount__container-left-main-editAcount">
                       <i class="fas fa-pencil-alt acount__container-left-main-editAcount-icon"></i>
                        Sửa hồ sơ
                    </p>
               </div>
            </div>
            <div class="acount__container-left-bottom">
                <ul class="acount__container-left-bottom-infor">
                    <li class="acount__container-left-bottom-acount">
                        <i class="fas fa-user-circle acount__container-left-bottom-acount-icon"></i>
                        Tài khoản của tôi
                    </li>
                    <li class="acount__container-left-bottom-address">Địa chỉ</li>
                    <li class="acount__container-left-bottom-password">Đổi mật khẩu</li>
                </ul>
            </div>
        
        </div>


        <div class="acount__container-right">
            <div class="acount__container-right-main">
                <h2 class="acount__container-right-main-title">Hồ Sơ Của Tôi</h2>
                <h2 class="acount__container-right-main-subtitle">Quản lý thông tin hồ sơ để bảo mật tài khoản</h2>
            </div>
            <div class="acount__container-right-body">
                <div class="acount__container-right-body-left">
                    <div class="acount__container-right-body-left-nameAcount">
                        <span class="acount__container-right-body-left-nameAcount-label">Tên Đang Nhập</span>
                        <span class="acount__container-right-body-left-nameAcount-content">khangdovan</span>
                    </div>

                    <div class="acount__container-right-body-left-name">
                        <span class="acount__container-right-body-left-name-label">Tên</span>
                       <input type="text"  value="Khang" class="acount__container-right-body-left-name-content">
                    </div>

                     <div class="acount__container-right-body-left-email">
                        <span class="acount__container-right-body-left-email-label">Email</span>
                        <span class="acount__container-right-body-left-email-content">
                            <a href="">Thêm</a>

                        </span>
                    </div>

                    <div class="acount__container-right-body-left-phone">
                        <span class="acount__container-right-body-left-phone-label">Số Điện Thoại</span>
                        <span class="acount__container-right-body-left-phone-content">********08
                            <a href="">Thay đổi</a>

                        </span>
                    </div>


                    <div class="acount__container-right-body-left-gender">
                        <span class="acount__container-right-body-left-gender-label">Giới Tính</span>
                        <input type="radio" id="male" name="gender" value="Nam">
                        <label for="html">nam</label>
                        <input type="radio" id="female" name="gender" value="Nu">
                        <label for="css">nữ</label>
                        <input type="radio" id="another" name="gender" value="Khac">
                        <label for="javascript">khác</label>
                    </div>

                    <div class="acount__container-right-body-left-born">
                        <span class="acount__container-right-body-left-born-label">Ngày Sinh</span>
                       <input type="text"  value="10/10/2000" class="acount__container-right-body-left-born-content">
                    </div> 

                    <div class="acount__container-right-body-left-btn">
                        <button class="acount__container-right-body-left-btn-label btn btn--primary">Lưu</button>
                    </div>
                    

                </div>

                <div class="acount__container-right-body-right">
                    <img src="/public/img/khang.PNG" alt="Avartar" class="acount__container-right-body-right-img">    
                     <br>
                     <input type="file" id="myFile" name="filename">
                </div>

            </div>

        </div>
   </div>

</div>